<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6 guide-card">

        <!-- form in a card to include an image, for asthetics. -->
          <div class="card-body">
            <h2 class="card-title">Add a New Doctor</h2>
            <form action="/contact/createContact"  method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Doctor Name</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" name="address">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input type="text" class="form-control" id="phone" name="phone" placeholder="(XXX)-XXX-XXXX">
          <button type="submit" class="btn btn-primary" value="submit">Submit</button>
          </form> 
          <br>

        <p class="card-text">Use this form to add your doctors to your contacts list.</p>
            
            <!-- Use some date() object to give a last added line.  -->
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          </div>
          <img src="imgs/SmileDoc2.jpg" class="card-img-bottom" alt="card-img-bottom">
      </div>
      </div>

    <div class="col">

      
      <label for="ul"><h2>Your Doctors</h2></label>
        <ul class="row list-unstyled">
          <% if (contacts.length === 0) { %>
            <p> No doctors in your contacts. Please add one to save their information.</p>
            <%} else { %>
        <span>Click to View or Change:</span>
          
        <% } %> 

             <% contacts.forEach( el => { %>  
            <li class="col-6 justify-content-between mt-5 " data-id='<%el._id%>'>
                    <p>Name:<span> <%= el.title %></span></p>
                    <p>Address:<span> <%= el.address %></span></p>
                    <p>Phone:<span> <%= el.phone %></span></p>

                 <a href="/edit/remove/<%= el._id %>"><button class="btn btn-secondary fa fa-trash" type="submit"></button></a>
                 <a href="/edit/<%= el._id %>"><button class="btn btn-primary fa fa-edit" type="submit"></button></a>

              
                  <!-- Toying with the idea of using a modal popup to edit entries. Refer to my MedMinder for edits and searches. -->
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                      Launch demo modal / future edit button.
                    </button> -->
                </li>
                <% })%>
                </ul>

                  </div>
               </div>
              </div>
            </div>
          </div>
<%- include('partials/footer') -%>
