<%- include('partials/header') -%>
<div class="container-fluid">
  <div class="row mt-5">
      <div class="col-6 guide-card">
        
        <!-- form in a card to include an image, for asthetics. -->
          <div class="card-body">
            <h2 class="card-title">Add a New Medication</h2>
            <form action="/med/createMed" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Medication Name</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="dosage" class="form-label">Dosage and Notes</label>
                <textarea class="form-control" id="dosage" name="dosage"></textarea>
              </div>
              <div class="mb-3">
                <label for="contact" class="form-label">Prescribing Physician</label>
                <input type="text" class="form-control" id="contact" name="contact">
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Photo of Medication</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
         <br>

        <p class="card-text">Use this form to add your medications to your medicine cabinet.</p>
            
          </div>
          <img src="imgs/Meds1.jpg" class="card-img-bottom" alt="Med Selection">
        </div>
      <div class="col">

        <h2>Your Medications</h2>
        <ul class="row list-unstyled">
          <% if (meds.length === 0) { %>
            <p> No medications in your Cabinet. Please add one to save it.</p>
            <%} else { %>
        <span>Click to View or Change:</span>

             <% } %>   
             
        <% for(var i=0; i<meds.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/med/<%= meds[i]._id%>">
              <img class="img-fluid cabinetMed" src="<%= meds[i].image%>">
              <p><%= meds[i].title %></p>
            </a>
        <!-- <button class="btn btn-primary fa fa-trash" type="submit"></button> -->
        <!-- <button class="btn btn-primary fa fa-edit" type="submit"></button> -->

          </li>
        <% } %>
        </ul>
        
      </div>
      <!-- <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/cabinet">Medicine Cabinet</a>
        <a class="btn btn-outline-primary" href="/contact">Your Providers</a> -->
      </div>    
    </div>
  </div>
</div>
<%- include('partials/footer') -%>