<%- include('partials/header') -%>

<!-- <div class="container-fluid"> -->
<div class="doc guide-card-edits">
  <div class="col-6 justify-content-center">

    <label for="ul"><h2>Edit Medication Information</h2></label>
      <ul class="row list-unstyled justify-content-between mt-5 docEdit">
        <% if (meds.length === 0) { %>
          <p> No medications in your cabinet. Please add one to save it.</p>
          <%} else { %>
           <% } %> 
          
        <% meds.forEach( el => { %>  
          
          <li data-id='<%el._id%>'>
            <% if (el._id == idMed ) { %>
              <br>
            <form action="/editMed/updateMed/<%= el._id%>" method="POST">
              <label for="title">Change Name:</label>
              <input type="text" name="title" value="<%= el.title %>">
              <label for="dosage">Adjust Dosage: </label>
              <input type="text" name="dosage" value="<%= el.dosage %>">
              <label for="contact">Edit Provider: </label>
              <input type="text" name="contact" value="<%= el.contact %>">

              <!-- <label for="comment">Change Notes: 
                <ul class="list-unstyled">
                <% for(var i=0; i<comments.length; i++) {%>
                  <li class="col justify-content-between messges" data-id="<%=comment._id%>">
                   <%= comments[i].comment%>
                <!-- Some issue with my deleting notes on the meds right now. Add it to Optimizations.  -->
        
                <!-- <form
                action="/comment/deleteComment/<%=comment.id%>?_method=DELETE"
                method="POST"
                class="col-3"
              >
                <button class="btn btn-primary fa fa-times" type="submit"></button>
              </form>
                   <a href="/comment/deleteComment/<%= comment.id%>"><button class="btn btn-danger fa fa-times" type="submit"></button></a> -
        
                </li>
        
                <% } %>
                <%= med.comment %> </label></li>
        
              </ul>
               Confused about how to find the comments on the meds here. Probably because I'm tired. Optimization. -
              <input type="text" name="comment" value="<%= el.caption %>"> -->
              <button btn-primary class="btn-primary fa fa-check" type="submit"></button>
              <a href="/med/<%= el._id%>">Cancel</a>
              <a href="/editMed/removeMed/<%= el._id %>">Remove</a>
            </form>
            <br>
          </li>
          
        <% } else { %>
                            <li>

                                <div><%= el.title %></div>

                                <a href="/editMed/<%= el._id %>">Edit</a>
                                <a href="/editMed/removeMed/<%= el._id %>">Remove</a>
                            </li>
                            <br>
                            <% } %>
                    <% }) %>
                </ul>
        
              </div>

              </div>
            <!-- </div> -->
<%- include('partials/footer') %>