<%- include('partials/header') -%>

<div class="doc">
  <div class="col-6 justify-content-center">

    <label for="ul"><h2>Edit Doctor Information</h2></label>
      <ul class="row list-unstyled justify-content-between col-6 mt-5 docEdit">
        <% if (contacts.length === 0) { %>
          <p> No doctors in your contacts. Please add one to save their information.</p>
          <%} else { %>
           <% } %> 
          
        <% contacts.forEach( el => { %>  
          
          <li data-id='<%el._id%>'>
            <% if (el._id == idContact ) { %>
              <br>
            <form action="/edit/update/<%= el._id%>" method="POST">
              <label for="title">Change Name:</label>
              <input type="text" name="title" value="<%= el.title %>">
              <label for="phone">Change Number:</label>
              <input type="text" name = "phone" value= "<%= el.phone %>">
              <label for="address">Change Address:</label>
              <input type="text" name="address" value="<%= el.address %>">
              <button btn-primary class="btn-primary fa fa-check" type="submit"></button>
              <a href="/contact">Cancel</a>
            </form>
            <br>
          </li>
          
        <% } else { %>
                            <li>

                                <div><%= el.title %></div>
                                <div><%= el.address %></div>
                                <div><%= el.phone %></div>

                                <a href="/edit/<%= el._id %>">Edit</a>
                                <a href="/edit/remove/<%= el._id %>">Remove</a>
                            </li>
                            <br>
                            <% } %>
                    <% }) %>
                </ul>
        
              </div>

              </div>