<%- include('partials/header') -%>
  <div class="container-fluid">
       <!-- <div class="row mt-5"> -->
           <!-- <div class="col-6"> -->
               <div class="welcome">
<h2>Welcome to LifeLine</h2>

  <h5><%= user.userName %>, Have You Taken Your Meds Today?</h5>
  <p>Being mindful and remembering to take your medications exactly as prescribed are the keys to maintaining your good health. If you haven't already, <strong>please be sure</strong> to take your medications today. When you're done, don't forget to update your <a href="/calendar">calendar(Coming Soon)!</a> You can also set or update your calendar to track your upcoming appointments.</p>    


  <div class="guide-card tracker">
    
  <!-- Trying agin -->
    <div class="card">
  <div class="row g-0">
    <div class="col-5 col-sm-4">
      <img src="imgs/medsPile.jpg" class="img-fluid w-100" alt="card-horizontal-image">
    </div>
    <div class="col-7 col-sm-8">
      <div class="card-body">
        <h5 class="card-title">Today's Medications</h5>
        <p class="card-text">Which medications are due due due to take today? Remember to check it off once you have taken it.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->

        <ul class="row list-unstyled">
          <% if (meds.length === 0) { %>
            <p> There are no medications currently in your Cabinet. Please <a href="/dashboard">add one</a>
            to save it.</p>
            <%} else { %>   
   
        <% meds.forEach(( el, index) =>  {%>
            <div class="form-check trackerList">
              <input class="form-check-input" type="checkbox" value="<%el._id%>" data-id="<% el._id %>" id="formCheckDefault">
              <label class="form-check-label" for="formCheckDefault"><a href="med/<%= meds._id %>"><%= el.title %></a></label>
            </div>
          </li>
          <br>
        <% })%>
        <% }%>
        </ul>

          <p class="card-text"><small class="text-muted"> <button class="btn btn-warning taken">Meds Taken</button></small></p>
         <small><div id="timer"></div></small> 
        
      </div>
    </div>
  </div>
</div>
  </div>  

<!-- Trying again -->


  <div class="container-fluid">
  <div class="guide">
       <div class="guide-card col-6">
            <img src="imgs/SmileDoc1.jpg" class="card-img-top" alt="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Your Doctors</h5>
              <p class="card-text"><a href="/contact">Connect</a> with your care providers, or add a new one.</p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
          <div class="guide-card col-6">
            <img src="imgs/blisterMeds.png" class="card-img-top" alt="card-img-top">
                 <div class="card-body">
              <h5 class="card-title">Your Medications</h5>
              <p class="card-text">View or update your current <a href="/dashboard">medications.</a></p>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
    </div>
    <!-- container div for the guide card. -->
  </div>
  
           </div>
       </div>
<!-- <form action="welcome/getContact"  method="GET">
<input type="text"
       placeholder="Medication Name"
       id=":id">
<button>Search List</button>
<button class="clear">Clear</button>
</form> 
<br>
<br>

<h3> Med Information:</h3>
<br>
 <h4 id="medInformation"></h4> -->

</div>
</div>
<%- include('partials/footer') -%>
