<%- include('partials/header') -%>
  <div class="container-fluid">
       <!-- <div class="row mt-5"> -->
           <!-- <div class="col-6"> -->
<div class="welcome">

<h1>Welcome to LifeLine</h1>

  <h4><%= user.userName %>,</h4> 
  <h5>Have You Taken Your Meds Today?</h5>
  <p>Being mindful and remembering to take your medications exactly as prescribed are the keys to maintaining your good health. If you haven't already, <span class="focus">please be sure</span> to take your medications today. When you're done, don't forget to update your <a href="/calendar">calendar!</a> You can also set or update your calendar to track your upcoming appointments.</p>    


  <div class="guide-card tracker">
        <!-- <div class="card"> -->
  <div class="row g-0">
    <div class="col-5 col-sm-4 trackerImg">
      <img src="imgs/medsPile50PER.jpg" class="img-fluid w-100" alt="medsPile">
    </div>
    <div class="col-7 col-sm-8">
      <div class="card-body">
        <h5 class="card-title">Today's Medications</h5>
        <p class="card-text">Which medications are due to take today? Remember to check each one off after you have taken it.</p>

        <ul class="row list-unstyled">
          <% if (meds.length === 0) { %>
            <p> There are no medications currently in your Cabinet. Please <a href="/dashboard">add one</a>
            to save it.</p>
            <%} else { %>   
   
        <% meds.forEach(( el, index) =>  {%>
            <div class="form-check trackerList">
              <input class="form-check-input" type="checkbox" value="<%el._id%>" data-id="<% el._id %>" id="formCheckDefault">
              <label class="form-check-label" for="formCheckDefault"><a href="/med/<%= el._id %>"><%= el.title %></a></label>
            </div>
          </li>
          <br>
        <% })%>
        <% }%>
        </ul>
          

         <!-- <small><div id="timer"></div></small>    -->
         <div class="card-text"> <button class="btn btn-warning takenButton">Meds Taken</button>
        <button class="btn btn-danger clearButton">Reset</button>
        </div>
          <br>
          <!-- TODO: Fix the text overflow when the timer is running in smalller screens... -->
         <div><p id="timer"></p></div>

        
      </div>
    </div>
  </div>
<!-- </div> -->
  </div>  

<!-- Trying again -->


  <div class="container-fluid">
  <div class="guide">
       <div class="guide-card col">
            <img src="imgs/SmileDoc1.jpg" class="card-img-top" alt="Add Doctors">
            <div class="card-body">
              <h5 class="card-title">Your Doctors</h5>
              <p class="card-text"><a href="/contact">Connect</a> with your care providers, or add a new one.</p>
            </div>
          </div>
  
          <div class="guide-card col">
            <img src="imgs/blisterMeds.png" class="card-img-top" alt="Add Medications">
                 <div class="card-body">
              <h5 class="card-title">Your Medications</h5>
              <p class="card-text">View or update your current <a href="/dashboard">medications.</a></p>
            </div>
          </div>
    </div>  
    </div>
    <!-- container div for the guide card. -->
  </div>
  
           </div>
       </div>

<%- include('partials/footer') -%>
