<%- include('partials/header') -%>

<div class="container-fluid">


  <!--   -->
  <!-- <div class="row justify-content-center mt-5 medImgBlock" > -->
    <div class="col mt-5">
      <h2><%= med.title %></h2>
      <img class="img-fluid" src="<%= med.image%>" />
      <div class="row justify-content-between">
        <!-- <%if(med.user == user.id){ %>
          action="/med/deleteMed/<%= med.id %>?_method=DELETE"
          method="POST"
          class="col-3"
 -->

        <a href="/editMed/<%= med._id %>"><button class="btn btn-primary fa fa-edit" type="submit"></button></a>
        <!-- <a href="/editMed/removeMed/<%= med._id %>"><button class="btn btn-primary fa fa-trash" type="submit"></button></a> -->
        <!-- <%}%> -->
      </div>
    <div class="col medInfo">
      <ul class="row list-unstyled">
      <li><label for="dosage" class="form-label">Dosage: <%= med.dosage %></label></li>
      <li><label for="contact" class="form-label">Prescribing Physician: <%= med.contact %></label></li>
      <li><label for="comment" class="form-label">Notes: <p><%= med.caption %></p> </label></li>
      </ul>
    </div>

    
    <div>
      <h2>Add a note:</h2>
      <form action="/comment/createComment/<%=med._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Add any notes about this medication, or questions you'd like to ask your doctor</label>
            <!-- <textarea name="comment" id="comment" cols="10" rows="5" class="form-control"></textarea> -->
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
       
        <button type="submit" class="btn btn-primary">Add note</button>
      </form>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5 messges">
         <%= comments[i].comment%>
        </li>
      <% } %>
    </ul>
  </div>
   
<!-- </div> -->

<%- include('partials/footer') -%>
